<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title></title>
  <style>
      *{
          margin: 0;
          padding: 0;
      }
  body {
      font: 200 1em 'Helvetica Neue', 'Segoe UI', 'Droid Sans', 'Helvetica';
      margin: 0;
      padding-top: 0;
      display: block;
      background-color: #DDDDDD;
  }

  .container {

      margin-left: auto;
      margin-right: auto;
      width: 950px;

  }

  .wrap {
      padding-top: 5em;


  }

  .flex {
      background-color: #FFF;

      min-height: 500px;
      display: flex;
  }

  .col-span-2 {
      -webkit-flex: 3 1 60%;
  }

  .col-span-1 {
      min-width: 200px;
  }

  .main {
      border-left: 1px dotted;

      border-right: 1px dotted;

  }

  header {
      padding:0;
      background-color: #FFFFFF;
      width: 100%;
      height: 10%;
      min-height: 80px;
      text-align: center;
      position: relative;
      display: block;
  }

  #right-nav {
      /*position: fixed;*/
  }

  footer {
      margin-bottom: 0px;
      width: 100%;
      min-height: 100px;
      bottom: 0;
      left: 0;
      text-align: center;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
  }
    .square {
        width: 100px;
        height: 100px;
        display: inline-block;
        background-color: blue;
    }

    header h1 {
        padding: 0.8em 0;
        text-transform: uppercase;
    }

      .item {
          padding: 1em;
          line-height: 1.5;
          max-width: 250px;
      }

    ul {
        list-style-type: none;
    }

      button {
          float: right;
      }

      a:link, a:visited {
          color: #000;
      }

      a:hover {
          padding: 5%;
          background-color: #5D5C5C;
          color: white;
      }

  </style>
</head>
<body>
<header>
    <div class="container">    <h1>Flight Reservation</h1>
    </div>
</header>


<div class="container content">

<div class="wrap">
<div class="flex">
<div class="col-span-1">
    <section class="item">

    </section>

</div>
<div class="col-span-2 main"><section id="main" class="item">
        <label for="departure_city">Departure City:</label>
        <input type="text" id="departure_city" name="name" placeholder="Departure City" required/><br/>

        <label for="arrival_city">Arrival City:</label>
        <input type="text" id="arrival_city" name="name" placeholder="Arrival City" required/><br/>


        Depart Date:<input type="text" id="depart_date" name="name" placeholder="Depart Date" required/><br/>
        Return Date:<input type="text" id="return_date" name="name" placeholder="Return Date" required/><br/>
        <br/>
        <button id="submit">Record Flight</button>

        <br/></section></div>
<div id="right-nav" class="col-span-1">
    <section class="item">
        <ul>
            <li><a href="#" id="my_flight_act_btn">My Flight Accounts</a></li>
        </ul>
    </section>
</div>
</div>
</div>
</div>

<footer><br/><br/><br/>@Go-Live Labs 2013</footer>

<script>
    window.addEventListener('load', function(){
    // grab main window
        var main = document.getElementById('main');
        console.log('main');

        var flt_act_btn = document.getElementById('my_flight_act_btn');
        flt_act_btn.addEventListener('click', function(){
           console.log('Hey I was clicked');
            // clear the main section

            // perform an AJAX call

            // display the AJAX on the page
            // in a new element way.


            main.innerHTML = "I got some new data for you.  And I can show you your flights.";

            var return_btn = document.createElement('button');
            return_btn.innerHTML = "Go Back"
            main.appendChild(return_btn);
        });
    });

</script>
</body>
</html>