<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title></title>
    <link rel="stylesheet" href="/css/flt_reserve_base.css"/>
</head>
<body>
<header>
    <div class="container">    <h1>Flight Reservation</h1>
    </div>
</header>


<div class="container content">

<div class="wrap">
<div class="flex">
<div class="col-span-1">
    <section class="item">

    </section>

</div>
<div class="col-span-2 main">
    <section id="flt_reserve_section" class="item">
        <form name="flt_reserve_form">
            <label for="departure_city">Departure City:</label>
            <input type="text" id="departure_city" name="departcity" placeholder="Departure City" required/><br/>

            <label for="depart_date">Depart Date:</label>
            <input type="date" id="depart_date" name="departdate" placeholder="Depart Date" required/><br/>


            <label for="arrival_city">Arrival City:</label>
            <input type="text" id="arrival_city" name="arrivalcity" placeholder="Arrival City" required/><br/>

            <label for="return_date">Return Date:</label>
            <input type="date" id="return_date" name="returndate" placeholder="Return Date" required/><br/>
            <br/>
        </form>
        <button id="submit">Record Flight</button>

        <br/>
    </section>
    <section id="my_flt_section">
        <div class="item">
            <table>
                <thead>
                <tr>
                    <th>Departure City</th>
                    <th>Departure Date</th>
                    <th>Arrival City</th>
                    <th>Arrival Date</th>
                </tr>
                </thead>
                <tbody id="my_flt_table_body"></tbody>
            </table>
            <a id="return_btn" href="#">Return Home</a>
        </div>
    </section>
</div>
<div id="right-nav" class="col-span-1">
    <section class="item">
        <ul>
            <li><a href="#" id="my_flight_act_btn">My Flight Accounts</a></li>
        </ul>
    </section>
</div>
</div>
</div>
</div>

<footer><br/><br/><br/>@Go-Live Labs 2013</footer>

<script src="/js/flt_reserve_src.js"></script>
<script src="/js/flt_reserve_test.js"></script>
</body>
</html>